* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;

  /* text-transform: uppercase; */
}

.btn {
  padding: 10px 10px;
  font-size: 0.7rem;
  text-transform: uppercase;
  /* background-color: #feffd9; */
  background-color: transparent;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 2px solid #feffd9;
  /* border: none; */
  /* border-radius: 10px; */
}
